.zbudzh-banner2-container {
  width: 100%;
  cursor: pointer;
  display: flex;
  position: relative;
  font-weight: 700;
}
.zbudzh-banner2-link {
  display: contents;
}
.zbudzh-banner2-frame206871 {
  width: 100%;
  display: flex;
  padding: 24px;
  border-radius: 8px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.zbudzh-banner2-container1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.zbudzh-banner2-info-wrapper {
  display: flex;
  flex-direction: column;
}
.zbudzh-banner2-title {
  color: #393F47;
  height: auto;
  display: flex;
  font-size: 24px;
  text-align: left;
  font-weight:  700;
  line-height: 32px;
  margin-bottom: 8px;
}
.zbudzh-banner2-subtitle {
  color: #393F47;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
}
.zbudzh-banner2-buttons {
  width: 50%;
  border: unset;
  display: flex;
  padding: 12px 16px;
  margin-top: 16px;
  border-radius: 4px;
  justify-content: center;
  background-color: rgba(11, 113, 217, 1);
}
.zbudzh-banner2-text {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.zbudzh-banner2-zbudzhicon {
  width: 186px;
  height: 186px;
  margin-left: 48px;
}
@media(max-width: 1400px) {
  .zbudzh-banner2-buttons {
    width: 100%;
  }
  .zbudzh-banner2-zbudzhicon {
    width: 140px;
    height: 140px;
    margin-left: 24px;
  }
}
@media(max-width: 992px) {
  .zbudzh-banner2-buttons {
    width: 50%;
  }
  .zbudzh-banner2-zbudzhicon {
    width: 186px;
    height: 186px;
    margin-left: 48px;
  }
}
@media(max-width: 480px) {
  .zbudzh-banner2-frame206871 {
    padding: 16px;
  }
  .zbudzh-banner2-title {
    font-size: 18px;
    line-height: 28px;
    padding-right: 120px;
  }
  .zbudzh-banner2-subtitle {
    font-size: 14px;
    line-height: 24px;
    padding-right: 120px;
  }
  .zbudzh-banner2-buttons {
    width: 100%;
    padding-right: 12px 16px;
  }
  .zbudzh-banner2-zbudzhicon {
    right: 16px;
    width: 104px;
    height: 104px;
    position: absolute;
    margin-left: 0;
  }
}
